{% extends 'BlogBundle::layout.html.twig' %}
{% block content %}
    <div class="col-md-6">
<h2>Añadir Entradas</h2>
{{ form_start(form) }}


{{ form_end(form) }}
    </div>
    <div class="clear-fix"></div>
{% endblock %}