pruebas_index:
    path : /pruebas/{lang}/{name}/{page}
    defaults: { _controller: AppBundle:Pruebas:index, name:valor_defecto, page:1}
    methods: [GET]
    requirements:
         name: "[a-zA-z]*"
         page: \d+
         lang: es|wb|fr