{% extends 'BlogBundle::layout.html.twig' %}
{% block content %}
    <div class="col-md-6">
<h2>Editar Categorias</h2>
{{ form_start(form) }}

        {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor  %}
{{ form_end(form) }}
    </div>
    <div class="clear-fix"></div>
{% endblock %}